body {
  margin: 0;
  background-color: whitesmoke;
}

h1 {
  margin: 0;
}

.top {
  max-height: 100vh;
  max-width: 100vw;
}

.myname {
  padding: 50px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.second-container {
  font-family: 'Noto Serif JP', serif;
  height: 280px;
  width: 100vw;
}

.greeting {
  height: 60px;
  font-size: 40px;
  padding-top: 40px;
  padding-left: 140px;
  margin: 0 0 40px 0;
}

.introduce {
  height: 140px;
  padding-left: 140px;
}

dt {
  float: left;
  clear: left;
  margin-right: 0.5em;
  width: 80px;
}

dd {
  float: left;
  margin: 0;
}

.portfolio-wrapper {
  text-align: center;
  height: 1000px;
  width: 100vw;
}

.portfolio-list {
  margin: 0 auto;
}

.portfolio {
  padding-top: 20px;
}

.furima {
  height: 400px;
  width: 700px;
  border: solid 1px lightgray;
}

.athletehub {
  height: 400px;
  width: 700px;
  border: solid 1px lightgray;
}
